detsizechan 1024 512

hostname bchip039

settingsdir /home/rescan/builds/sls_detector_package/settingsdir/jungfrau
caldir /home/rescan/builds/sls_detector_package/settingsdir/jungfrau

0:rx_udpport 50004
0:rx_udpip 192.168.0.100
0:rx_udpmac  90:e2:ba:c6:74:29
0:detectorip 192.168.0.125
0:detectormac 00:aa:bb:cc:dd:ee
configuremac 0 
vhighvoltage 200
